noderedflows/flowsRaspberry.json
[{"id":"ea4af8f8.a77a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b4ac973e.d067b8","type":"rpi-gpio out","z":"ea4af8f8.a77a28","name":"Led","pin":"36","set":false,"level":"0","freq":"","out":"out","x":370,"y":240,"wires":[]},{"id":"ffea15af.de34a8","type":"rpi-gpio in","z":"ea4af8f8.a77a28","name":"ButtonPressed","pin":"11","intype":"tri","debounce":"25","read":false,"x":100,"y":140,"wires":[["a8010cbe.cce06"]]},{"id":"3639ef8.0b9581","type":"grove-4-digit-display","z":"ea4af8f8.a77a28","name":"","pin":"5","x":940,"y":380,"wires":[]},{"id":"47f353de.6514fc","type":"mqtt in","z":"ea4af8f8.a77a28","name":"","topic":"/raspberry/activators/onoffled","qos":"2","datatype":"auto","broker":"259ae617.3847ca","x":140,"y":240,"wires":[["b4ac973e.d067b8"]]},{"id":"6f3dfae6.6f3004","type":"mosca in","z":"ea4af8f8.a77a28","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":60,"wires":[[]]},{"id":"b6714066.6fdaa","type":"mqtt in","z":"ea4af8f8.a77a28","name":"","topic":"/raspberry/activators/digitsdisplay","qos":"2","datatype":"auto","broker":"259ae617.3847ca","x":150,"y":380,"wires":[["1d0144dc.10377b"]]},{"id":"a8010cbe.cce06","type":"mqtt out","z":"ea4af8f8.a77a28","name":"","topic":"/raspberry/sensors/buttonpressed","qos":"2","retain":"","broker":"259ae617.3847ca","x":360,"y":140,"wires":[]},{"id":"1d0144dc.10377b","type":"function","z":"ea4af8f8.a77a28","name":"ConvertToNumber","func":"var text = msg.payload;\nvar integer = parseInt(text, 10);\nvar newMsg = {payload : integer, topic : msg.topic};\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["3639ef8.0b9581"]]},{"id":"7e057a4a.e6f974","type":"exec","z":"ea4af8f8.a77a28","command":"sudo poweroff #","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":560,"wires":[[],[],[]]},{"id":"3eddfe0c.6f0372","type":"mqtt in","z":"ea4af8f8.a77a28","name":"","topic":"/raspberry/executor/shutdown","qos":"2","datatype":"auto","broker":"259ae617.3847ca","x":140,"y":560,"wires":[["7e057a4a.e6f974"]]},{"id":"19b9d8f6.808217","type":"mqtt in","z":"ea4af8f8.a77a28","name":"","topic":"/raspberry/activators/stringdisplay","qos":"2","datatype":"auto","broker":"259ae617.3847ca","x":390,"y":440,"wires":[["3639ef8.0b9581"]]},{"id":"259ae617.3847ca","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]