noderedflows/flowsOrchestrator.json
[{"id":"94ddd212.61c97","type":"tab","label":"Flow Raspberry","disabled":false,"info":""},{"id":"f0ba09e5.e1d928","type":"tab","label":"Flow Android","disabled":false,"info":""},{"id":"e6f82e3d.f0c72","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18b991c8.525f9e","type":"mqtt-broker","z":"","name":"Mosca","broker":"192.168.43.234","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11e41fc9.18487","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df61856a.f1fd08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf051c9a.6f13d","type":"mqtt-broker","z":"","name":"AndroidJulien","broker":"192.168.43.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f177afa0.44ef","type":"mqtt-broker","z":"","name":"AndroidMaxime","broker":"192.168.43.123","port":"1883","clientid":"34","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a458d81.a55a128","type":"mqtt-broker","z":"","name":"Android3","broker":"192.168.182.65","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a447c07d.8e782","type":"JsonWebToken_config","z":"","name":"AdminConnection","secret":"MFswDQYJKoZIhvcNAQEBBQADSgAwRwJAbE0TaFvyq0yi8XDts/LPDBVghY2Dgwfo n/RbRrmKIAx8IlAk1L6inLC184xmKQ5ORNl698Z2be4hUpvipBBpKwIDAQAB"},{"id":"1f868ee2.e4ac71","type":"e-mail","z":"94ddd212.61c97","server":"smtp.orange.fr","port":"465","secure":true,"tls":true,"name":"maxime.leras@gmail.com","dname":"Notif Mail","x":1390.0000381469727,"y":561.0000133514404,"wires":[]},{"id":"b27686bb.933718","type":"http request","z":"94ddd212.61c97","name":"Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/?major={{{query}}}&verified=false","tls":"","proxy":"","authType":"basic","x":958.0000267028809,"y":558.0000162124634,"wires":[["aa5d5f1c.3cf2e"]]},{"id":"95d86270.baa19","type":"trigger","z":"94ddd212.61c97","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","bytopic":"all","name":"ClockRequest","x":278.0000686645508,"y":547.0000162124634,"wires":[["514efa8d.7b47e4"]]},{"id":"aa5d5f1c.3cf2e","type":"function","z":"94ddd212.61c97","name":"DisplayCompute","func":"var nbavis = flow.get('avis') || msg.payload.length;\nvar newReviews = flow.get('newReviews') || null;\nvar emailreturn = null;\nflow.set('currentReviews', msg.payload.length);\nif(nbavis == msg.payload.length){\n    flow.set('avis', nbavis);\n    newReviews = null;\n}\nif(nbavis > msg.payload.length){\n    flow.set('avis', msg.payload.length);\n    flow.set('newReviews',0);\n}\nvar b = { payload: 0,topic:msg.topic };\nif(msg.payload.length > nbavis){\n    if((msg.payload.length - nbavis)%3===0){\n        if(flow.get('newReviews')){\n            if(flow.get('newReviews') != msg.payload.length - nbavis){\n                newReviews = msg.payload.length - nbavis;\n                flow.set('newReviews',newReviews);\n                emailreturn = { payload: \"Vous avez \"+ newReviews + \" nouveaux avis à consulter\",topic: \"PolyAbroad : Avis en attente\" };\n            }\n        } else {\n            newReviews = msg.payload.length - nbavis;\n            flow.set('newReviews',newReviews);\n            emailreturn= { payload: \"Vous avez \"+ newReviews + \" nouveaux avis à consulter\",topic: \"PolyAbroad : Avis en attente\" };\n        }\n    }else {\n        newReviews = null;\n    }\n    b = { payload: 1,topic:msg.topic };\n}\nvar newMsg = { payload: msg.payload.length,topic:msg.topic };\nreturn [ newMsg, b , emailreturn ];","outputs":3,"noerr":0,"x":1123.0002746582031,"y":560.0000152587891,"wires":[["f524a872.e771a8"],["577f7fe0.9b972"],["1f868ee2.e4ac71"]]},{"id":"e8f711a9.97e4a","type":"inject","z":"94ddd212.61c97","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.0","x":145,"y":73,"wires":[["577f7fe0.9b972"]]},{"id":"79d5a00f.17916","type":"function","z":"94ddd212.61c97","name":"ResetViewedReviews","func":"if(flow.get('avis')){\n    if(flow.get('currentReviews')){\n        flow.set('avis',flow.get('currentReviews'));\n    }else{\n        flow.set('avis',null);\n    }\n}\n\nif(flow.get('newReviews')){\n    flow.set('newReviews',0);\n}\n\nreturn { payload: 0,topic:msg.topic };","outputs":1,"noerr":0,"x":1103.0000305175781,"y":103.00000858306885,"wires":[["577f7fe0.9b972"]]},{"id":"293c9971.138416","type":"inject","z":"94ddd212.61c97","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.0","x":111.00000381469727,"y":548.0000152587891,"wires":[["95d86270.baa19"]]},{"id":"577f7fe0.9b972","type":"mqtt out","z":"94ddd212.61c97","name":"","topic":"/raspberry/activators/onoffled","qos":"2","retain":"","broker":"18b991c8.525f9e","x":1456.0000381469727,"y":60.000006675720215,"wires":[]},{"id":"f524a872.e771a8","type":"mqtt out","z":"94ddd212.61c97","name":"","topic":"/raspberry/activators/digitsdisplay","qos":"","retain":"","broker":"18b991c8.525f9e","x":1435.0000381469727,"y":436.0000114440918,"wires":[]},{"id":"4ba8d0ff.e091b","type":"mqtt in","z":"94ddd212.61c97","name":"","topic":"/raspberry/sensors/buttonpressed","qos":"2","datatype":"auto","broker":"18b991c8.525f9e","x":155,"y":144.99999523162842,"wires":[["49246ad5.f28eb4"]]},{"id":"8f2f5f03.d21ae","type":"switch","z":"94ddd212.61c97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"num"},{"t":"lt","v":"1000","vt":"num"},{"t":"btwn","v":"1000","vt":"num","v2":"10000","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":810.0002670288086,"y":253.00000762939453,"wires":[["6fae3598.d5eccc"],["79d5a00f.17916"],["b350c8a8.a0ae08"]]},{"id":"2f59af7a.83bc6","type":"interval-length","z":"94ddd212.61c97","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":true,"msgTimeout":"10","minimumunit":"msecs","maximumunit":"msecs","windowunit":"secs","msgTimeoutUnit":"secs","reset":false,"startup":true,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":364.0000991821289,"y":260.0000591278076,"wires":[["894997ff.1c5c08"],[]]},{"id":"49246ad5.f28eb4","type":"function","z":"94ddd212.61c97","name":"ResetTimerWhenPressed","func":"var newMsg = msg.payload == \"1\"? {payload : 1, topic : msg.topic, reset : false} :  {payload : 0, topic : msg.topic, reset : true};\nreturn newMsg;","outputs":1,"noerr":0,"x":149.00000762939453,"y":260.0000104904175,"wires":[["2f59af7a.83bc6"]]},{"id":"894997ff.1c5c08","type":"function","z":"94ddd212.61c97","name":"ConsiderOnlyPressing","func":"var count = flow.get('count') || 0;\ncount++;\nflow.set('count',count);\nif(count%2!=0){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":575.0001754760742,"y":253.0000171661377,"wires":[["8f2f5f03.d21ae"]]},{"id":"6fae3598.d5eccc","type":"mqtt out","z":"94ddd212.61c97","name":"","topic":"/raspberry/executor/shutdown","qos":"2","retain":"","broker":"18b991c8.525f9e","x":1460.0000305175781,"y":170.00002479553223,"wires":[]},{"id":"b350c8a8.a0ae08","type":"function","z":"94ddd212.61c97","name":"MajorModeChanged","func":"if(flow.get('major')){\n    if(flow.get('major') == 2){\n        flow.set('major',0);\n    }else{\n        flow.set('major',flow.get('major')+1);\n    }\n    \n}else {\n    flow.set('major',1);\n}\nflow.set('avis',null);\nvar newMsg = {payload : flow.get('major')+ \"   \", topic : msg.topic};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1074.0802764892578,"y":266.0486526489258,"wires":[["53f54aa6.585834"]]},{"id":"514efa8d.7b47e4","type":"function","z":"94ddd212.61c97","name":"SwitchMajor","func":"var newMsg;\nswitch (flow.get('major')){\n    case 0:\n        newMsg = {payload : \"BAT\", topic : msg.topic};\n        break;\n    case 1:\n        newMsg = {payload : \"SI\", topic : msg.topic};\n        break;\n    case 2:\n        newMsg = {payload : \"MAM\", topic : msg.topic};\n        break;\n    default:\n        newMsg = {payload : \"BAT\", topic : msg.topic};\n        break;\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":461.89853286743164,"y":547.4922027587891,"wires":[["c45e467a.015cf8"]]},{"id":"c45e467a.015cf8","type":"change","z":"94ddd212.61c97","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":642.8867378234863,"y":547.3359527587891,"wires":[["9299c9da.a33ff8"]]},{"id":"5f9b1766.c3a168","type":"inject","z":"94ddd212.61c97","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":120.8828125,"y":364.94140625,"wires":[["30cb8497.2fd84c"]]},{"id":"30cb8497.2fd84c","type":"function","z":"94ddd212.61c97","name":"Init","func":"flow.set('count',0);\nflow.set('major',0);\nreturn msg;","outputs":1,"noerr":0,"x":248.89061737060547,"y":364.5078344345093,"wires":[[]]},{"id":"53f54aa6.585834","type":"mqtt out","z":"94ddd212.61c97","name":"","topic":"/raspberry/activators/stringdisplay","qos":"","retain":"","broker":"18b991c8.525f9e","x":1440.8984680175781,"y":265.66407012939453,"wires":[]},{"id":"36d61458.05d4ec","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/request/alerts","qos":"2","datatype":"auto","broker":"bf051c9a.6f13d","x":171.00000381469727,"y":119.00000381469727,"wires":[["34f1c279.dbb19e"]]},{"id":"5330807e.0c3a5","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/?major={{{query}}}&verified=false","tls":"","proxy":"","authType":"basic","x":797.5000228881836,"y":116.99996185302734,"wires":[["e26cd70b.78e0e8"]]},{"id":"34f1c279.dbb19e","type":"change","z":"f0ba09e5.e1d928","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":422.5000915527344,"y":118.99996185302734,"wires":[["7a0c2f18.93704"]]},{"id":"e26cd70b.78e0e8","type":"mqtt out","z":"f0ba09e5.e1d928","name":"","topic":"/android/answer/alerts","qos":"","retain":"","broker":"bf051c9a.6f13d","x":1210.6667709350586,"y":120.99996185302734,"wires":[]},{"id":"c53178c9.020f58","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/request/peekreview","qos":"2","datatype":"auto","broker":"bf051c9a.6f13d","x":190.00000381469727,"y":199.0000057220459,"wires":[["1d5368b.be7cc97"]]},{"id":"81844539.dd41d8","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/?major={{{query}}}&verified=false","tls":"","proxy":"","authType":"basic","x":779.5000305175781,"y":198.99994468688965,"wires":[["17f54886.3afb27"]]},{"id":"1d5368b.be7cc97","type":"change","z":"f0ba09e5.e1d928","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.5000190734863,"y":198.9999647140503,"wires":[["58f35ff.3223aa"]]},{"id":"40f9b982.101a78","type":"mqtt out","z":"f0ba09e5.e1d928","name":"","topic":"/android/answer/peekreview","qos":"","retain":"","broker":"bf051c9a.6f13d","x":1198.6667785644531,"y":198.99999117851257,"wires":[]},{"id":"17f54886.3afb27","type":"function","z":"f0ba09e5.e1d928","name":"PeekFirstObject","func":"if(msg.payload.length == 0){\n    return msg;\n}else{\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":947.1667938232422,"y":197.66669368743896,"wires":[["40f9b982.101a78"]]},{"id":"373d0007.ce327","type":"comment","z":"f0ba09e5.e1d928","name":"AndroidJulien","info":"","x":142.16669845581055,"y":76.00000190734863,"wires":[]},{"id":"aaf76b79.7bf748","type":"comment","z":"f0ba09e5.e1d928","name":"AndroidMaxime","info":"","x":150.00000762939453,"y":664.9999990463257,"wires":[]},{"id":"d8f4e06d.43b85","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/action/reject","qos":"2","datatype":"json","broker":"bf051c9a.6f13d","x":176.00001525878906,"y":320.00000190734863,"wires":[["d8ebc0fb.ddf58","58baaad5.64e204"]]},{"id":"b81aeb2d.50c1a8","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/reviews/{{{query}}}","tls":"","proxy":"","authType":"basic","x":1190.500286102295,"y":316.99996185302734,"wires":[[]]},{"id":"d8ebc0fb.ddf58","type":"function","z":"f0ba09e5.e1d928","name":"GetOnlyID","func":"var newMsg;\n\nif(msg.payload.length === 0){\n    return null;\n}else{\n    newMsg = {payload : msg.payload , topic : msg.topic, query : msg.payload.id};\n}\nconsole.log(newMsg);\nreturn newMsg;","outputs":1,"noerr":0,"x":475.0000534057617,"y":328.33334255218506,"wires":[["f385dfdf.060bb"]]},{"id":"346dcbcc.14a184","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/action/verify","qos":"2","datatype":"json","broker":"bf051c9a.6f13d","x":177.0000114440918,"y":385.9999942779541,"wires":[["9eb23d55.91049","9edb6354.c0e72"]]},{"id":"4837e4.fe61181c","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/{{{query}}}","tls":"","proxy":"","authType":"basic","x":1186.5001525878906,"y":384.99993324279785,"wires":[[]]},{"id":"9eb23d55.91049","type":"function","z":"f0ba09e5.e1d928","name":"ParseIdForQuery","func":"var newMsg = {payload : {\"verified\": true} , topic : msg.topic, query : msg.payload.id};\nconsole.log(newMsg);\nreturn newMsg;","outputs":1,"noerr":0,"x":495.00003814697266,"y":387.00002098083496,"wires":[["9114e21.6eff32"]]},{"id":"9de02ab.a001ed8","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/request/alerts","qos":"2","datatype":"auto","broker":"f177afa0.44ef","x":168.02344131469727,"y":702.0390501022339,"wires":[["ef018c9e.6da5d"]]},{"id":"a9f18dbb.441b8","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/?major={{{query}}}&verified=false","tls":"","proxy":"","authType":"basic","x":913.5234489440918,"y":700.0389719009399,"wires":[["ce741f11.3a06c"]]},{"id":"ef018c9e.6da5d","type":"change","z":"f0ba09e5.e1d928","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":438.5234565734863,"y":702.039008140564,"wires":[["15e8574d.08f369"]]},{"id":"ce741f11.3a06c","type":"mqtt out","z":"f0ba09e5.e1d928","name":"","topic":"/android/answer/alerts","qos":"","retain":"","broker":"f177afa0.44ef","x":1207.6902084350586,"y":704.039008140564,"wires":[]},{"id":"f09bafa3.ebbd9","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/request/peekreview","qos":"2","datatype":"auto","broker":"f177afa0.44ef","x":187.02344131469727,"y":782.0390520095825,"wires":[["5322eead.aec9f"]]},{"id":"f539b597.b6fb18","type":"http request","z":"f0ba09e5.e1d928","name":"Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/reviews/?major={{{query}}}&verified=false","tls":"","proxy":"","authType":"basic","x":784.5234489440918,"y":780.0390510559082,"wires":[["38caa88f.08c6e8"]]},{"id":"5322eead.aec9f","type":"change","z":"f0ba09e5.e1d928","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":436.5234565734863,"y":782.0390110015869,"wires":[["cc51dbc.b127828"]]},{"id":"2cc8b116.7aa9ae","type":"mqtt out","z":"f0ba09e5.e1d928","name":"","topic":"/android/answer/peekreview","qos":"","retain":"","broker":"f177afa0.44ef","x":1230.6902160644531,"y":781.0390119552612,"wires":[]},{"id":"38caa88f.08c6e8","type":"function","z":"f0ba09e5.e1d928","name":"PeekFirstObject","func":"console.log(msg.payload);\nif(msg.payload.length == 0){\n    return msg;\n}else{\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":966.1901817321777,"y":781.7057847976685,"wires":[["2cc8b116.7aa9ae"]]},{"id":"3269124d.a39a9e","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/action/reject","qos":"2","datatype":"json","broker":"f177afa0.44ef","x":159.02344512939453,"y":462.03907680511475,"wires":[["d8ebc0fb.ddf58","58baaad5.64e204"]]},{"id":"f8c186e9.0ce778","type":"mqtt in","z":"f0ba09e5.e1d928","name":"","topic":"/android/action/verify","qos":"2","datatype":"json","broker":"f177afa0.44ef","x":160.02344131469727,"y":528.0390691757202,"wires":[["9eb23d55.91049","9edb6354.c0e72"]]},{"id":"8e7f4e6d.8a12e","type":"inject","z":"f0ba09e5.e1d928","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":156.0000228881836,"y":918.453421831131,"wires":[["12aeb22e.d039de"]]},{"id":"8a208a06.8f4a88","type":"http request","z":"f0ba09e5.e1d928","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/login","tls":"","proxy":"","authType":"basic","x":761.0158195495605,"y":919.0159375667572,"wires":[["509973b5.3e4cbc"]]},{"id":"12aeb22e.d039de","type":"function","z":"f0ba09e5.e1d928","name":"ConnectAsAdmin","func":"var newMsg = {payload : { username : \"admin\", password : \"admin\" }, topic : msg.topic};\nreturn newMsg;","outputs":1,"noerr":0,"x":375.0000686645508,"y":919.3440170288086,"wires":[["3bf8ccb9.1c52f4"]]},{"id":"509973b5.3e4cbc","type":"function","z":"f0ba09e5.e1d928","name":"SaveToken","func":"global.set('token',msg.payload.token);\nreturn msg;","outputs":1,"noerr":0,"x":983.166820526123,"y":918.3335192203522,"wires":[[]]},{"id":"3bf8ccb9.1c52f4","type":"JsonWebToken","z":"f0ba09e5.e1d928","name":"AdminConnection","tokenconfig":"a447c07d.8e782","x":581.0000228881836,"y":919.6668434143066,"wires":[["8a208a06.8f4a88"]]},{"id":"cc51dbc.b127828","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":620.9999961853027,"y":782.9999952316284,"wires":[["f539b597.b6fb18"]]},{"id":"15e8574d.08f369","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":688.9999961853027,"y":698.9999952316284,"wires":[["a9f18dbb.441b8"]]},{"id":"9114e21.6eff32","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":835.0000114440918,"y":381.9999942779541,"wires":[["4837e4.fe61181c"]]},{"id":"f385dfdf.060bb","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":804.0000114440918,"y":325.9999942779541,"wires":[["b81aeb2d.50c1a8"]]},{"id":"58f35ff.3223aa","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":194,"wires":[["81844539.dd41d8"]]},{"id":"7a0c2f18.93704","type":"function","z":"f0ba09e5.e1d928","name":"EnterToken","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":654,"y":113,"wires":[["5330807e.0c3a5"]]},{"id":"9299c9da.a33ff8","type":"function","z":"94ddd212.61c97","name":"","func":"msg.headers = {};\nmsg.headers['token'] = global.get('token');\nreturn msg;","outputs":1,"noerr":0,"x":810.0000228881836,"y":552.0000133514404,"wires":[["b27686bb.933718"]]},{"id":"58baaad5.64e204","type":"function","z":"f0ba09e5.e1d928","name":"MailReject","func":"var newMsg; \nif(msg.payload.length === 0){\n    return null;\n}else{\n    newMsg = {payload : \"Votre avis a été rejété par l'administration\", topic : \"Polyabroad : Avis rejeté\", to : msg.payload.email};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":476.1328582763672,"y":461.5078639984131,"wires":[["f9dda49b.2c6f98"]]},{"id":"f9dda49b.2c6f98","type":"e-mail","z":"f0ba09e5.e1d928","server":"smtp.orange.fr","port":"465","secure":true,"tls":true,"name":"","dname":"","x":674.1445350646973,"y":497.1797161102295,"wires":[]},{"id":"9edb6354.c0e72","type":"function","z":"f0ba09e5.e1d928","name":"MailVerify","func":"var newMsg; \nif(msg.payload.length === 0){\n    return null;\n}else{\n    newMsg = {payload : \"Votre avis est maintenant visible sur le site\", topic : \"Polyabroad : Avis vérifié\", to : msg.payload.email};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":462.2695541381836,"y":527.0039205551147,"wires":[["f9dda49b.2c6f98"]]},{"id":"5a28e2da.108e9c","type":"comment","z":"f0ba09e5.e1d928","name":"Authentification au backend","info":"","x":206.14453125,"y":877.6641466617584,"wires":[]},{"id":"ebe4fa26.443df8","type":"comment","z":"f0ba09e5.e1d928","name":"Common","info":"","x":147.1328125,"y":273.67578125,"wires":[]}]